.App{
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.header{
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上端に固定 */
  width: 100%; /* 幅を100%に設定 */
  height: 50px;
  z-index: 1000; /* 他の要素より手前に表示 */
  background-color:#C0C0C0;
}

.main{
  margin-top: 50px;
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar{
  width: 20%;
  background-color: rgb(227, 227, 227);
}


.content{
  flex: 1;
  background-color: #EEEEEE;
}