.header{
  display: flex;
  align-items: center;

}

.headerTitle{
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 5%;
  font-size: 180%;
  font-weight: bold; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerSubTitle{
  padding-left: 5%;
  font-size: 80%;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}