.header{
  display: flex;
  align-items: center;

}

.headerTitle{
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 5%;
  font-size: 180%;
  font-weight: bold; 
}

.headerSubTitle{
  padding-left: 5%;
  font-size: 80%;
  font-weight: 100;
}